:global(.ant-layout-header) {
    background: #fff !important;
    padding: 0 10px 10px 10px;
}
// :global(.ant-layout) {
//     background: #fff !important;
// }
:global(.ant-layout-sider) {
    background: #fff !important;
    padding: 0 10px 10px 10px;
}

.mr1 {
    margin-right: 1rem;
}
